.row.auth-wrapper
  .col-sm-10.col-sm-offset-1
    %h2.text-center Sign up

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .form-group
        .row
          = f.label :email, class: "col-sm-2 control-label"
          .col-sm-10
            = f.email_field :email, autofocus: true
            %i.glyphicon.glyphicon-info-sign.infopopover{'data-content' => "Can not be changed after registration"}

      .form-group
        .row
          = f.label :name, class: "col-sm-2 control-label"
          .col-sm-10
            = f.text_field :name
            %i.glyphicon.glyphicon-info-sign.infopopover{'data-content' => "Your preferable login name may only contain letters and numbers, symblols - and _"}

      .form-group
        .row
          = f.label :password, class: "col-sm-2 control-label"
          .col-sm-10
            - if @minimum_password_length
              %em
                = "{#@minimum_password_length} characters minimum"
              %br
            = f.password_field :password, autocomplete: "off"

      .form-group
        .row
          = f.label :password_confirmation, class: "col-sm-2 control-label"
          .col-sm-10
            = f.password_field :password_confirmation, autocomplete: "off"
            %i.glyphicon.glyphicon-info-sign.infopopover{'data-content' => "May only contain letters and numbers"}

      .form-group
        .row
          .col-sm-offset-2.col-sm-10
            = f.submit "Sign up"

    .row
      .col-sm-offset-2.col-sm-10
        = render "devise/shared/links"
