= form_for(@look, authenticity_token: true, html: { multipart: true, id: "look-save-form"}) do |f|
  = render 'shared/error_message', entity: @look

  .form-group
    .row
      = f.label :name, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :name

  .form-group
    .row
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :description

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit "Save", id: "look-save-btn"

  = f.fields_for :screen do |fs|
    = fs.hidden_field :title, id: "preview-image-title", value: 'new screen'
    = fs.hidden_field :user_id
    = fs.hidden_field :id
    = fs.hidden_field :image_encoded, id: "preview-image-url", value: ''

  .form-group
    .row
      = link_to 'Screenshot', "#", class: "btn", id: "look-screenshot"

  #look-picture-positions-list
    = render 'look_pictures_list', f: f, look_pictures: @look.look_pictures, current_child_index: 1

  #look-canvas.ui-widget-content
    = render 'pictures_list', pictures: @look.preloaded_pictures

= link_to 'Add Picture', "#", data: {class: "btn btn-primary btn-lg", toggle: "modal", target: "#pictures-modal"}

%div{id: "pictures-modal", class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
  = render 'looks/modals/available_pictures', available_pictures: @look.available_pictures


