= form_for(@look, authenticity_token: true, html: { multipart: true, id: "look-save-form"}) do |f|
  = render 'shared/error_message', entity: @look

  .form-group
    .row
      = f.label :name, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :name

  .form-group
    .row
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :description

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit "Save", id: "look-save-btn"

  = f.fields_for :screen do |fs|
    = fs.hidden_field :title, id: "preview-image-title", value: 'new screen'
    = fs.hidden_field :user_id
    = fs.hidden_field :id
    = fs.hidden_field :image_encoded, id: "preview-image-url", value: ''

  .form-group
    .row
      = link_to 'Screenshot', "#", class: "btn", id: "look-screenshot"

  #look-canvas.ui-widget-content.pictures-list
    = render 'pictures_list', look_pictures: @look.preloaded_look_pictures, current_child_index: 1, f: f

= link_to 'Add Picture', available_pictures_look_path(@look.id || 0),  {class: "btn btn-primary btn-lg", remote: true}

%div{id: "pictures-modal", class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}



