= form_for(@look, authenticity_token: true, html: { multipart: true}) do |f|
  = render 'shared/error_message', entity: @look

  .form-group
    .row
      = f.label :name, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :name

  .form-group
    .row
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :description

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit "Save"

  .form-group
    .row
      -#= link_to 'Add Picture', available_pictures_look_path(@look.id || 0), class: "btn", remote: true

  #look-picture-positions-list
    = render 'look_pictures_list', f: f, look_pictures: @look.look_pictures, current_child_index: 0

  #look-canvas.ui-widget-content
    = render 'pictures_list', pictures: @look.preloaded_pictures

= link_to 'Add Picture', "#", data: {class: "btn btn-primary btn-lg", toggle: "modal", target: "#pictures-modal"}
%div{id: "pictures-modal", class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
  = render 'looks/modals/available_pictures', available_pictures: @look.available_pictures

-#pictures-modal.modal.fade{ tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
