= form_for(@look, authenticity_token: true, html: {class: 'lookbox-form', multipart: true, id: "look-save-form"}) do |f|
  = render 'shared/error_message', entity: @look

  .look-toggler.form-inline
    .row
      .col-sm-12
        .div{class: "collapse in", id: "look_options"}
          .form-group
            = f.label :name, class: "control-label"
            = f.text_field :name, class: "form-control"

          .form-group
            = f.label :description, class: "control-label"
            = f.text_area :description, class: "form-control"

          .form-group
            = f.label "Shared with", class: "control-label"
            = react_component 'LookUsers', {potential_users: "#{ current_user.potential_shared_users }", shared_users: "#{ @look.user_looks.to_json(only: :id, include: {user: { only: [:id, :email, :name]} })}"}, class: "inline-block"
            = hidden_field_tag "shared-users-count", @look.shared_users.count

    .row
      .col-sm-9
        = react_component 'LookPictureScreen'
      .col-sm-3
        .div{class: "btn btn-primary btn-look-options", type: "button", :'data-toggle' => "collapse", :'data-target' => "#look_options", :'aria-expanded' => "true", :'aria-controler' => "look_options"}
          Hide params...
        = link_to pictures_path(look_id: @look.id || 0, restore_page: 1), class: "btn btn-add-new", remote: true do
          %i.glyphicon.glyphicon-plus
          Add Picture

  = f.fields_for :screen do |fs|
    = fs.hidden_field :title, id: "preview-image-title", value: "#{@look.name} screen"
    = fs.hidden_field :user_id
    = fs.hidden_field :id

  #look-canvas.pictures-list
    = react_component 'LookPictures', { look_pictures: @look.look_pictures.to_json(include: :picture) }

%div{id: "pictures-modal", class: "modal fade", tabindex: "-1", role: "dialog", :'aria-labelledby' => "modal-label " }
%div{id: "picture-modal-form", class: "modal fade", tabindex: "-1", role: "dialog", :"aria-labelledby" => "modal-label "}

