= render "filters", is_shared_looks: is_shared_looks
.pictures-list.clearfix
  - @looks.each do |look|
    .look-info
      %div{class: "modal fade", id: "look-modal-#{look.id}", tabindex: "-1", role: "dialog", :"aria-labelledby" => "modal-label "}
        = render 'looks/modals/show', look: look
      .look-name.text-short
        = look.name
      .image-block.look-block
        = link_to image_tag(look.preview_image, alt: 'No image', class: "image-space"), "#", data: {toggle: "modal", target: "#look-modal-#{look.id}"}
      - if is_shared_looks
        .look-name
          Shared from:
          = look.user.email
        .shared-looks-actions
          = link_to "Approve", approve_shared_look_path(look), class: 'btn btn-primary' unless look.user_looks[0].is_approved
          = link_to "Decline", remove_shared_look_path(look), method: :get, class: 'btn btn-primary', data: { confirm: "You're going to decline watching this look", :"confirm-success-label" => 'Decline' }

- no_looks = is_shared_looks ? "No one shared with you look has been found." : "No one look has been added yet. Press 'New look' to add the first one."
= current_user.looks.any? ? "No results found. Refresh to view all items." : no_looks unless @looks.any?

= paginate @looks

