-#= f.fields_for :look_pictures, look_pictures, child_index: current_child_index do |flp|
- look_pictures.each.with_index(current_child_index - 1) do |look_picture, index|
  = f.fields_for :look_pictures, look_picture, child_index: index do |flp|
    %div{id: "look-picture-#{flp.object.picture.id}-position"}
      = flp.hidden_field :id
      = flp.hidden_field :picture_id
      = flp.hidden_field :position_top, value: flp.object.position_params['top']
      = flp.hidden_field :position_left, value: flp.object.position_params['left']
