- look_pictures.each.with_index(current_child_index - 1) do |look_picture, index|
  = f.fields_for :look_pictures, look_picture, child_index: index do |f_lp|
    %div{id: "look-picture-#{look_picture.picture.id}-position"}
      = f_lp.hidden_field :id
      = f_lp.hidden_field :picture_id
      = f_lp.hidden_field :_destroy
      = f_lp.hidden_field :position_top, { value: look_picture.position_params[:top] }
      = f_lp.hidden_field :position_left, { value: look_picture.position_params[:left] }
      = f_lp.hidden_field :position_order, { value: look_picture.order_number }

  .draggable.ui-widget-content.look-picture-block{id: "look-picture-#{look_picture.picture.id}", style: "top: #{look_picture.position_params[:top]}px; left: #{look_picture.position_params[:left]}px; z-index: #{look_picture.order_number} " }
    = image_tag look_picture.picture.image.url, class: "resizable image-space", 'data-toggle': "tooltip", title: ""
    .picture-action
      -#= link_to(look_picture.picture, {target: '_blank'} ) do
        %span.glyphicon.glyphicon-zoom-in
      .remove-look-picture-btn{"picture-removed-id": look_picture.picture.id}
        %span.glyphicon.glyphicon-trash
