#content
  %h2 Looks

  = link_to 'Add New Look', new_look_path, class: "btn btn-add-new"

  - @looks.each do |look|
    %p
      %div{class: "modal fade", id: "look-modal-#{look.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
        = render 'looks/modals/show', look: look
      = link_to look.name, "#", data: {class: "btn btn-primary btn-lg", toggle: "modal", target: "#look-modal-#{look.id}"}


