#content
  .row
    .col-md-6
      %h2 Looks
    .col-md-6
      = link_to 'Add New Look', new_look_path, class: "btn btn-add-new"

  .pictures-list
    - @looks.each do |look|
      .look-info
        %div{class: "modal fade", id: "look-modal-#{look.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
          = render 'looks/modals/show', look: look
        .look-name
          = look.name
        .image-block.look-block
          = image_tag look.preview_image, alt: 'No image', class: "image-space"
          -# = link_to look.name, "#", data: {class: "btn btn-primary btn-lg", toggle: "modal", target: "#look-modal-#{look.id}"}

