%p
  .row
    %strong Name:
    = @look.name
  - if @look.description.present?
    .row
      %strong Description:
      = @look.description
      - if look.screen.present?
        = image_tag look.screen.image.url, { class: "show-picture-image"}

= link_to 'Edit', edit_look_path(@look)
= link_to 'Looks', looks_path
