.row
  .col-md-6
    %strong Name:
    = @look.name
  .col-md-6
    .btn-form-action
      = link_to looks_path, class: "" do
        %span.glyphicon.glyphicon-chevron-left
        Back to Looks
      = link_to edit_look_path(@look), class: "btn btn-primary", title: 'Edit'  do
        %span.glyphicon.glyphicon-pencil
        Edit

  - if @look.description.present?
    %strong Description:
    = @look.description
  - if @look.screen.present?
    = image_tag @look.screen.image.url, { class: "show-picture-image"}



