.row
  .col-md-6
    %strong Name:
    = @look.name
  .col-md-6
    .btn-form-action
      = link_to looks_path, class: "" do
        %span.glyphicon.glyphicon-chevron-left
        Back to Looks
      - if @look.user_id.eql? current_user.id
        = link_to edit_look_path(@look), class: "btn btn-primary", title: 'Edit'  do
          %span.glyphicon.glyphicon-pencil
          Edit
        = link_to @look, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-trash
          Delete


  - if @look.description.present?
    %strong Description:
    = @look.description
  - if @look.screen.present?
    = image_tag @look.screen.image.url, { class: "show-picture-image"}



