= form_for(@user, url: url_for(controller: :users, action: :save_password), html: { method: :put }) do |f|
  = render 'shared/error_message', entity: @user

  .form-group
    .row
      = f.label :current_password, class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :current_password, autofocus: true, autocomplete: "off", placeholder: "Enter current password"

  .form-group
    .row
      = f.label :password, class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :password, autocomplete: "off"

  .form-group
    .row
      = f.label :password_confirmation, "Confirm new password", class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :password_confirmation, autocomplete: "off"

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit "Change my password"