%header
  .row
    .col-xs-5.col-xs-offset-2
      %h1
        = link_to "Lookbox", root_path
    .col-xs-5
      %h1
        - if user_signed_in?
          = link_to "Pictures", pictures_path, class: "btn"
          = link_to "Categories", categories_path, class: "btn"
          = link_to "My profile", edit_user_registration_path, class: "btn"
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn"
        - else
          = link_to "Log in", new_user_session_path, class: "btn"
          = link_to "Sign up", new_user_registration_path, class: "btn"