%header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#lookbox-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Lookbox", root_path, class: 'navbar-brand'
      #lookbox-navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= active_link_to t("main_menu.pictures"), pictures_path, class: "btn"
            %li= active_link_to t("main_menu.categories"), categories_path, class: "btn"
            %li= active_link_to t("main_menu.looks"), looks_path, class: "btn"
            %li.dropdown
              = link_to "#", class: "dropdown-toggle btn #{active_current_page_menu(edit_user_registration_path, users_change_password_path, change_user_settings_path)}",
                'data-toggle': "dropdown", 'aria-expanded': "false", 'aria-haspopup': "true", role: 'button' do
                = t("main_menu.account")
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li= link_to t("main_menu.my_profile"), edit_user_registration_path, class: ""
                %li= link_to t("main_menu.change_password"), users_change_password_path, class: ""
                %li= link_to t("main_menu.settings"), change_user_settings_path, class: ""
            %li= render 'shared/locale_switcher'
            %li
              = link_to destroy_user_session_path, method: :delete, data: { confirm: t("modal_forms.confirm_exit"), confirm_success_label: 'Exit' }, title: t("main_menu.log_out") do
                %span.glyphicon.glyphicon-log-out
          - else
            %li= render 'shared/locale_switcher'
            %li
              = link_to new_user_session_path, title: t("main_menu.log_in") do
                %span.glyphicon.glyphicon-log-in
