%header
  .row
    .col-xs-5.col-xs-offset-2
      %h1
        = link_to "Lookbox", root_path
    .col-xs-5
      - if user_signed_in?
        = link_to "Pictures", pictures_path, class: "btn"
        = link_to "Categories", categories_path, class: "btn"
        = link_to "My Looks", looks_path, class: "btn"
        .btn-group
          = link_to "#", class: "dropdown-toggle btn", 'data-toggle': "dropdown" do
            Account
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li= link_to "My profile", edit_user_registration_path, class: ""
            %li= link_to "Change password", users_change_password_path, class: ""
        = link_to destroy_user_session_path, method: :delete, class: "btn", title: "Log out" do
          %span.glyphicon.glyphicon-log-out
      - else
        = link_to new_user_session_path, class: "btn", title: "Log in" do
          %span.glyphicon.glyphicon-log-in
        -#= link_to "Sign up", new_user_registration_path, class: "btn"