%header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#lookbox-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Lookbox", root_path, class: 'navbar-brand'
      #lookbox-navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= active_link_to "Pictures", pictures_path, class: "btn"
            %li= active_link_to "Categories", categories_path, class: "btn"
            %li= active_link_to "Looks", looks_path, class: "btn"
            %li.dropdown
              = link_to "#", class: "dropdown-toggle btn #{active_current_page_menu(edit_user_registration_path, users_change_password_path, change_user_settings_path)}",
                'data-toggle': "dropdown", 'aria-expanded': "false", 'aria-haspopup': "true", role: 'button' do
                Account
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li= link_to "My profile", edit_user_registration_path, class: ""
                %li= link_to "Change password", users_change_password_path, class: ""
                %li= link_to "Settings", change_user_settings_path, class: ""
            %li= render 'shared/locale_switcher'
            %li
              = link_to destroy_user_session_path, method: :delete, data: { confirm: 'Do you really want to leave?', confirm_success_label: 'Exit' }, title: "Log out" do
                %span.glyphicon.glyphicon-log-out
          - else
            %li= render 'shared/locale_switcher'
            %li
              = link_to new_user_session_path, title: "Log in" do
                %span.glyphicon.glyphicon-log-in
