%li.dropdown
  = link_to '#', class: 'dropdown-toggle language-select', 'data-toggle' => 'dropdown' do
    %i.icon-globe
    %span #{I18n.locale.to_s}
    %b.caret
  %ul.dropdown-menu#locale-link
    - Locale.list.each do |loc|
      %li
        = link_to params.merge(locale: loc.locale) do
          %span.badge #{loc.locale}
          = t(loc.locale, {locale: loc.locale})