.menu-links-block
  = link_to pictures_path do
    = image_tag 'pictures_image1.png', class: 'menu-links-image', title: 'Go to pictures list'
    Pictures

.menu-links-block
  = link_to categories_path do
    = image_tag 'categories_image.png', class: 'menu-links-image', title: 'Go to categories list'
    Categories

.menu-links-block
  = link_to looks_path do
    = image_tag 'looks_image.png', class: 'menu-links-image', title: 'Go to looks list'
    Looks
