%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label
        Available pictures
    .modal-body
      .filters
        = search_form_for @search, remote: true, authenticity_token: true, html: { multipart: true, class: "form-inline" } do |f|
          = hidden_field_tag :look_id, look_id_for_pictures_search
          = render "pictures/search_filters", f: f, look_id: look_id_for_pictures_search

      = form_tag add_pictures_look_path(look_id_for_pictures_search), remote: true, format: :js, authenticity_token: true, method: :post, class: "available-pictures-list clearfix" do
        - @available_pictures.each do |picture|
          - next unless picture.id
          .add-picture.picture-block{id: "picture-block-#{picture.id}"}
            = check_box_tag :picture_ids, picture.id, false, name: 'look[picture_ids][]', class: "mark-picture-chbox"
            .image-block
              = image_tag picture.image.thumb, class: "image-space", :'data-toggle' => "tooltip", title: "Click to select/diselect"
            .picture-action
              = link_to(picture, title: "View image", target: '_blank') do
                %span.glyphicon.glyphicon-zoom-in
            .tick-mark-green
            .picture-title
              = picture.title

        = submit_tag "Add to look", class: "btn btn-primary btn-add-picture", disabled: true

      = paginate @available_pictures, remote: true, params: { store_page: 1 }
