%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label= look.name
    .modal-body.picture-show
      = look.description
      .look-screen
        = image_tag look.preview_image_large, { class: "show-picture-image"}
    .modal-footer
      - if look.screen.present?
        = link_to look.screen.image.url, download: look.screen.title, class: "btn btn-sm btn-primary btn-download", title: 'Download'  do
          %span.glyphicon.glyphicon-download-alt
          Download
      = link_to edit_look_path(look), class: "btn btn-sm btn-primary", title: 'Edit'  do
        %span.glyphicon.glyphicon-pencil
        Edit
      = link_to look, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-trash
        Delete
