%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label
        Add pictures
    .modal-body
      .filters
        = search_form_for @search, remote: true, authenticity_token: true, html: { multipart: true, class: "form-inline" } do |f|
          = hidden_field_tag :category_id, params[:category_id] || 0
          = render "pictures/search_filters", f: f

      -#= form_for add_pictures_category_path(@category_id), remote: true, authenticity_token: true,  html: { method: :post } do |fp|
      = form_tag add_pictures_category_path(params[:category_id] || 0), remote: true, format: :js, authenticity_token: true, method: :post do
        -#= hidden_field_tag :name, @category.name, name: 'category[name]'
        - @available_pictures.each do |picture|
          - next unless picture.id
          .add-picture.picture-block{id: "picture-block-#{picture.id}"}
            = check_box_tag :picture_ids, picture.id, false, name: 'category[picture_ids][]', class: "mark-picture-chbox"
            .image-block
              = image_tag picture.image.thumb, class: "image-space", 'data-toggle': "tooltip", title: "Click to select/diselect"
            .picture-action
              = link_to(picture, title: "View image", target: '_blank') do
                %span.glyphicon.glyphicon-zoom-in
            .tick-mark-green
            .picture-title
              = picture.title

        = submit_tag "Add to category", class: "btn btn-primary"

    .modal-footer
