%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      = button_to 'Close', {}, {class: "close", "data-dismiss": "modal"}
      %h4.modal-title#modal-label= @category.name
    .modal-body
      = form_for(@category, url: url_for(controller: :categories, action: :add_pictures), remote: true, authenticity_token: true) do |fp|
        = hidden_field_tag :name, @category.name, name: 'category[name]'
        - @available_pictures.each do |picture|
          .picture-block.add-picture
            = check_box_tag :picture_ids, picture.id, false, name: 'category[picture_ids][]', class: "mark-picture-chbox"
            .image-block
              = image_tag picture.image.thumb, class: "image-space", 'data-toggle': "tooltip", title: "Click to select/diselect"
            .picture-action
              .tick-mark-green
        = fp.submit "Add to category", class: "btn btn-primary"

    .modal-footer
