= form_for(@picture, remote: true, authenticity_token: true, format: :js, html: { multipart: true}) do |f|
  = render 'shared/error_message', entity: @picture

  .form-group
    .row
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :title

  .form-group
    .row
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :description

  .form-group
    .row
      = f.label :image, class: "col-sm-2 control-label"
      .col-sm-10
        = f.file_field :image

  .form-group
    .row
      = f.label 'Category', class: "col-sm-2 control-label"
      .col-sm-10
        = collection_select(:picture, :category_ids, current_user.categories, :id, :name, {:selected => @picture.categories.map(&:id), :include_blank => true}, {:multiple => true})

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit "Save"
