= form_for(@picture, remote: is_remote ||= false,authenticity_token: true, html: { multipart: true}) do |f|

  %div{class: "#{is_remote ? 'modal-body' : '' }"}

    .picture-form-block

      = render 'shared/error_message', entity: @picture

      .form-group
        .row
          = f.label :title, class: "col-sm-2 control-label"
          .col-sm-10
            .title-input-wrapper
              = f.text_field :title, class: 'form-control'
              %span.clear-input-btn
                &times;
      .form-group
        .row
          = f.label :description, class: "col-sm-2 control-label"
          .col-sm-10
            = f.text_area :description, class: 'form-control'

      .form-group
        .row
          = f.label t('pictures.category'), class: "col-sm-2 control-label"
          .col-sm-10
            = select(:picture, :category_ids, categories_with_depth_name(current_user.categories), { include_blank: true }, { multiple: true, class: "select2-select"})
      .form-group
        .row
          = f.label :image, class: "col-sm-2 control-label"
          -#= f.file_field :image
          = link_to '#', id: 'rotate_image', class: "btn btn-default", title: 'Rotate' do
            %i.glyphicon.glyphicon-repeat
          = f.hidden_field :rotation, value: original_image_rotation(@picture.rotation)
          = hidden_field_tag 'original_picture_rotation', original_image_rotation(@picture.rotation)
          = hidden_field_tag 'current_picture_rotation', 0
          = link_to '#', class: "btn btn-default fileinput-exists", 'data-dismiss': 'fileinput', title: 'Delete' do
            %i.glyphicon.glyphicon-remove
          %span.btn.btn-default.btn-file.image-crop
            %i.glyphicon.glyphicon-scissors{'title': 'Crop'}
          %span.btn.btn-default.btn-file
            %span.image-refresh{'title': 'Refresh'}
              %i.glyphicon.glyphicon-refresh
          %div{"data-provides": "fileinput", class: "fileinput fileinput-#{@picture.image.present? ? 'exists' : 'new'}"}
            .col-sm-6
              %span.btn.btn-default.btn-file
                %span.fileinput-new{'title': 'Load'}
                  %i.glyphicon.glyphicon-picture
                %span.fileinput-exists{'title': 'Reload'}
                  %i.glyphicon.glyphicon-picture
                %input{type: 'file', name: 'picture[image]'}
            .col-sm-6
              .file-image-preview
                .fileinput-preview.thumbnail{'data-trigger': 'fileinput'}
                  = image_tag @picture.preview_image_large, class: "image-space"
              .crop-image-preview
                .crop-previewbox.thumbnail
                  = f.previewbox :image

    .crop-image-block
      .form-group
        .row
          .col-sm-4
          .col-sm-4
          .col-sm-4
            .row
              .image-crop.ok
                %span.btn.btn-default.btn-file
                  %i.glyphicon.glyphicon-scissors
                  Crop
              .image-crop.cancel
                %span.btn.btn-default.btn-file
                  Cancel
      .form-group
        .row
          = f.cropbox :image

  %div{class: "#{is_remote ? 'modal-footer':''}"}
    .form-group
      .row
        .col-sm-offset-2.col-sm-10
          .actions
            - if @picture.persisted? && is_remote
              %span{data: {toggle: 'modal', target: '#picture-modal-form'}}
                = link_to '#', data: {toggle: 'modal', target: '#picture-modal-show', picture: @picture}, class: "btn-back-pictures" do
                  %span.glyphicon.glyphicon-chevron-left
                  = t('modal_forms.back_to_show')
            = f.submit t('modal_forms.save'), class: 'btn btn-primary', data: { 'disable_with': 'Saving...' }

:javascript
  $('.select2-select').select2({
    theme: "bootstrap"
  });
