.picture-block
  .image-block{id: "image-block-#{picture.id}"}
    -#= link_to(image_tag(picture.preview_image, class: "image-space"), picture, remote: true)
    = link_to image_tag(picture.preview_image, alt: 'No image', class: "image-space"), "#", data: {toggle: "modal", target: "#picture-modal-#{picture.id}"}
  .picture-action
    -#= link_to(picture, title: t("modal_forms.show"), remote: true) do
    = link_to "#", data: {toggle: "modal", target: "#picture-modal-#{picture.id}"} do
      %span.glyphicon.glyphicon-zoom-in
    = link_to picture, method: :delete, data: { confirm: t("modal_forms.confirm_delete") }, title: t("modal_forms.delete") do
      %span.glyphicon.glyphicon-trash
  .picture-title
    = picture.title

%div{class: "modal fade", id: "picture-modal-#{picture.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "modal-label "}
  = render 'pictures/modals/show', picture: picture