%label Sort by:
- is_remote = defined?(@available_pictures) ? true : false
= sort_link @search, :title, 'title', {}, { remote: is_remote, class: '' }
= sort_link @search, :created_at, 'date', {}, { remote: is_remote, class: '' }
.form-group
  = f.text_field :title_cont, :class =>"search-query form-control", "placeholder" => 'Type title or part..'
= f.submit 'Search', :class => "btn btn-grey"
= link_to refresh_pictures_path, class: "btn" do
  Refresh
  %i.glyphicon.glyphicon-refresh
.form-group
  %label Category:
  = f.select :category_search, nested_set_options(current_user.categories) {|cat| "#{'-' * cat.depth} #{cat.name}" }.insert(0,  ['Uncategorized', '-1']), { include_blank: 'All' }, onChange: "$(this.form).submit()", class: 'form-control'
  = f.check_box :include_subcategories, onChange: "$(this.form).submit()"
  Include subcategories

