%h2= t("pictures.edit_picture")

= render 'form'

= link_to t("modal_forms.show"), @picture
= link_to pictures_path, class: "btn" do
  %span.glyphicon.glyphicon-chevron-left
  = t("pictures.back_to_pictures")
