#content
  %h2 Pictures
  .filters
    = search_form_for @search, enforce_utf8: false, html: { class: "form-inline" } do |f|
      Sort:
      = sort_link @search, :title, 'By title', {}, { class: '' }
      = sort_link @search, :created_at, 'By date', {}, { class: '' }
      Title:
      = f.text_field :title_cont, :class =>"search-query span4", "placeholder" => 'Type title or part..'
      = f.submit 'Search', :class => "btn"
      = link_to pictures_path, class: "btn" do
        Refresh
        %i.glyphicon.glyphicon-refresh
      %div
        Category:
        = f.select :category_search, nested_set_options(current_user.categories) {|cat| "#{'-' * cat.depth} #{cat.name}" }.insert(0,  ['Uncategorized', '-1']), { include_blank: 'All' }, { onChange: "this.form.submit()"}
        = f.check_box :include_subcategories
        Include subcategories
  = link_to 'Add New Picture', new_picture_path, data: {class: "btn btn-add-new", remote: true}
  = render 'pictures/modals/form'

  #pictures-container
    = render 'index'







