.row
  .col-md-6
    %strong Title:
    = @picture.title
  .col-md-6
    .btn-form-action
      = link_to edit_picture_path(@picture), class: "btn" do
        %span.glyphicon.glyphicon-chevron-left
        = t("pictures.back_to_pictures")
      = link_to edit_picture_path(@picture), class: "btn btn-primary", title: 'Edit' do
        %span.glyphicon.glyphicon-pencil
        = t("modal_forms.edit")

- if !@picture.description.present?
  .row
    %strong= Picture.human_attribute_name("description")
    = @picture.description
.row
  = image_tag @picture.preview_image_large, class: 'picture-show'

