%p
  .row
    %strong Title:
    = @picture.title
  - if @picture.description.present?
    .row
      %strong Description:
      = @picture.description

  %strong Image:
  = image_tag @picture.image.thumb.url

= link_to 'Edit', edit_picture_path(@picture)
= link_to 'Pictures', pictures_path
