.row
  .col-md-6
    %strong Title:
    = @picture.title
  .col-md-6
    .btn-form-action
      = link_to edit_picture_path(@picture), class: "btn" do
        %span.glyphicon.glyphicon-chevron-left
        Back to Pictures
      = link_to edit_picture_path(@picture), class: "btn btn-primary", title: 'Edit', remote: true do
        %span.glyphicon.glyphicon-pencil
        Edit

- if @picture.description.present?
  .row
    %strong Description:
    = @picture.description
.row
  = image_tag @picture.preview_image_large, class: 'picture-show'

