= form_for(@category, authenticity_token: true, :html => {:multipart => true}) do |f|
  = render 'shared/error_message', entity: @category

  .form-group
    .row
      = f.label :name, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_field :name

  .form-group
    .row
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-10
        = f.text_area :description

  .form-group
    .row
      = f.label :parent_id, class: "col-sm-2 control-label"
      .col-sm-10
        = f.select :parent_id, nested_options(@category.available_categories_as_parent, selected: @category.parent), { include_blank: true }, { class: "nested_options" }

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit 'Save', class: 'btn btn-primary'

  = render 'pictures_list', pictures: @category.pictures

