- if @category.description.present?
  .row
    %strong Description:
    = @category.description

- if @category.parent.present?
  .row
    %strong Parent category:
    = link_to @category.name, category_path(@category.parent)

- if @category.descendants.any?
  #category-descendants.row
    %strong Subcategories count:
    = @category.descendants.count

.row
  %strong Created:
  = @category.created_at
.row
  %strong Last Modified:
  = @category.updated_at

