%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      = button_to 'Close', {}, {class: "close", "data-dismiss": "modal"}
      %h4.modal-title#modal-label= category.name
    .modal-body
      - if @category.description.present?
        .row
          %strong Description:
          = @category.description
      - if @category.parent.present?
        .row
          %strong Parent category:
          = link_to @category.name, category_path(@category.parent)

      .row
        %strong Created:
        = @category.created_at
      .row
        %strong Last Modified:
        = @category.updated_at
    .modal-footer
      = link_to 'Edit', edit_category_path(category),  {class: "btn btn-primary", remote: true}
      = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
