- if @category.description.present?
  .row
    %strong Description:
    = @category.description

- if @category.parent.present?
  .row
    %strong Parent category:
    = link_to @category.parent.name, category_path(@category.parent), remote: true

- if @category.descendants.any?
  .row
    #category-descendants
      %strong Subcategories count:
      = @category.descendants.count

.row
  %strong Created:
  = @category.created_at
.row
  %strong Last Modified:
  = @category.updated_at

