#content
  %h2 Categories

  -#= select_tag 'parent_id', options_for_select(nested_set_options(@categories) {|i| "#{'-' * i.depth} #{i.name}" })
  = link_to 'Add New Category', new_category_path, data: {class: "btn"  } #, remote: true}

  = search_form_for @search, enforce_utf8: false, html: { class: 'form-inline' } do |f|
    Sort:
    = sort_link @search, :title, "By title", {class: "btn"}, {remote: true}
    = sort_link @search, :created_at, "By date", {class: "btn"}, { remote: true }

  -#= render 'children_categories', categories: @categories.main
  -#=just_tree @categoriesss
  -#= select_tag :page_id, nested_options(@categories, :selected => Category.last), class: :nested_options
  %ol.sortable_tree{  data: { max_levels: 5, rebuild_url: categories_path } }
    = sortable_tree(@categories, {type: :sortable})