%div{class: "modal-dialog", role: "document"}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title#modal-label
    .modal-body
      = form_for(@picture, remote: true, authenticity_token: true, format: :js, html: { multipart: true}) do |f|
        = render 'shared/error_message', entity: @picture

        .form-group
          .row
            = f.label :title, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :title, class: 'form-control'

        .form-group
          .row
            = f.label :description, class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_area :description, class: 'form-control'

        .form-group
          .row
            = f.label :image, class: "col-sm-2 control-label"
            .col-sm-10
              = f.file_field :image

        - if @picture.categories_set.present?
          .form-group
            .row
              = f.label 'Category', class: "col-sm-2 control-label"
              .col-sm-10
                = select(:picture, :category_ids, @picture.categories_set, { selected: @picture.categories.map(&:id)}, { multiple: true, class: 'select2-select'})

        .form-group
          .row
            .col-sm-offset-2.col-sm-10
              .actions
                = f.submit "Save", class: 'btn btn-primary'

    .modal-footer

:javascript
  $('.select2-select').select2({
  theme: "bootstrap"
  });
